<%- include('partials/header.ejs') %>
<title>Withdraw - Investopia</title>
<link rel="stylesheet" href="/css/withdraw-page.css">

<body class="with-welcome-text">
  <div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <%- include('partials/logo.ejs') %>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
          <li class="nav-item fw-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text">
              <span class="text-black fw-bold">Withdraw Page</span>
            </h1>
            <h3 class="welcome-sub-text">Withdraw money, from your wallet to your card</h3>
          </li>
        </ul>
        <%- include('partials/signout.ejs') %>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <%- include('partials/sidebar.ejs') %>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="home-tab"
                        href="/deposit-page"
                        role="tab"
                        aria-controls="overview"
                        aria-selected="true"
                      >Deposit Money</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link active ps"
                        id="profile-tab"
                        href="/withdraw-page"
                        role="tab"
                        aria-selected="false"
                      >Withdraw Money</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="contact-tab"
                        href="/link-account-page"
                        role="tab"
                        aria-selected="false"
                      >Link Bank Account</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content tab-content-basic">
                  <div
                    class="tab-pane fade show active"
                    id="overview"
                    role="tabpanel"
                    aria-labelledby="overview"
                  >
                    <div class="main-content">
                      <!-- Main content -->
                      <main class="payment-card mt-50 mb-50">
                        <form method="post" action="/withdraw_money" class="withdraw-form">
                          <fieldset class="withdraw-details">
                            <div class="form-group">
                              <label for="amount">Amount</label>
                              <input
                                id="amount"
                                name="amount"
                                type="number"
                                step="0.01"
                                min="0"
                                placeholder="e.g: 1000.00 SAR"
                                required
                                title="Please enter amount"
                              />
                            </div>
                            <div class="form-group">
                              <label for="iban">IBAN</label>
                              <input
                                id="iban"
                                name="iban"
                                type="text"
                                placeholder="e.g: SA1234567890123456789012"
                                required
                                pattern="[A-Za-z0-9]{20,34}"
                                title="Please enter a valid IBAN."
                              />
                            </div>
                            <div class="withdraw-container">
                              <label for="confirmation-checkbox" class="withdraw-label">I confirm this withdrawal</label>
                              <input
                                id="confirmation-checkbox"
                                type="checkbox"
                                required
                                name="confirmation"
                                class="withdraw-checkbox"
                              />
                            </div>
                            <div id="message-container">
                              <% if (message && message.length > 0) { %>
                                <p class="sucess"><%= message %></p>
                              <% } else if (error && error.length > 0) { %>
                                <p class="error"><%= error %></p>
                              <% } %>
                            </div>
                            <button type="submit" class="withdraw-btn">Withdraw</button> <!-- Changed to submit button -->
                          </fieldset>
                        </form>
                      </main>
                      <!-- Main content -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('partials/footer.ejs') %>
      </div>
    </div>
  </div>
  <%- include('partials/script.ejs') %>
  <script src="/js/withdraw-money.js"></script>
</body>
</html>